<div id="page_content"  ng-controller="DashboardCtrl as showCase">
  <div id="page_content_inner">
    <div class="uk-grid" data-uk-grid-margin>
      
      <div class="uk-width-medium-1-4">
        <div class="md-card">
          <div class="md-card-content">
            <h1>40</h1>
            <h6>Guests in hotel now
            </h6>
            <h6>Today , 28-May-2019</h6>
            
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-4">
        <div class="md-card" style="height: 172px;">
          <div class="md-card-content" ui-sref="restricted.addguests" >
            <div class="uk-input-group" >
              
              <i class="md-list-addon-icon material-icons ico uk-margin-medium-bottom" style="padding-left: 1em;font-size: 55px; ">person_add</i>
              
              <div class="parsley-row ">
                <h4 style="padding-left: 3em;">Add Guests<span class="req" style="padding-left: 1em;"></span></h4 >
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- //End Profile -->
    <!--   //Start profile data table -->
    <div class="md-card uk-margin-medium-bottom">
      <div class="md-card-content large-padding topborder">
        <div class="heading_bg toptext">
          <div class="heading_bg_text">
          Information</div>
          <div class="parallelogram"></div>
        </div>
        <div ng-show="agenttype=='agent'">
          <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs"
            class="uk-table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Photo</th>
                <th>Name</th>                
                <th>Phone Number</th>
                <th>Room Number</th>
                <th>Check-In Date</th>
                <th>Check-Out Date</th>
                
                
              </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Photo</th>
              <th>Name</th>              
              <th>Phone Number</th>
              <th>Room Number</th>
              <th>Check-In Date</th>
              
              
            </tr>
            </tfoot>
            <tbody>
              <tr ng-repeat="row in viewData">
                <td><img class="md-user-image" ng-src="{{row.Image}}" alt=""/></td>
                <td>{{row.Name}}</td>
                <td>{{row.PhoneNumber}}</td>
                <td>{{row.RoomNumber}}</td>
                <td>{{row.CheckInDate}}</td>
                <td>{{row.CheckOutDate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>