<div id="page_content" ng-controller="GuestshotelCtrl as showCase">
    <div id="page_content_inner">
        
        <div class="md-card">
            <div class="md-card-content large-padding topborder">
                    <div class="heading_bg toptext">
                        <div class="heading_bg_text">
                            Hotel Report
                        </div>
                        <div class="parallelogram"></div>
                    </div>
                    
                    <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2 uk-margin-large-top">
                            <div class="parsley-row">
                                <h2>Guests In Hotel Now</h2 >
                            </div>
                        </div>
                        <div class="uk-width-medium-1-3 ">
                          <div class="md-card">
                            <div class="md-card-content">
                                <div ng-repeat="user in Master">
                                        <div class="uk-width-large-1-1">
                                            <span class="md-list-heading"></span>
                                            <span class="uk-text-medium uk-text-muted">{{user.Name}}</span>
                                        </div>
                                        
                                        <div class="uk-width-large-1-1">
                                            <span class="md-list-heading"></span>
                                            <span class="uk-text-medium uk-text-muted">{{user.Address}}</span>
                                        </div>
                                        
                                </div>

                            </div>
                        </div>
                          </div> 
                    </div>
            </div>
        </div>
        
        <div class="md-card data-uk-grid-margin">
            <div class="md-card-content large-padding topborder">
                <div class="heading_bg toptext">
                    <div class="heading_bg toptext">
                        <div class="heading_bg_text">
                            Guests in Hotel Now
                        </div>
                        <div class="parallelogram"></div>
                    </div>
                    <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs"
                        class="uk-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Signature</th>
                                <th>Phone Number</th>
                                <th>Room Number</th>
                                <th>Check-In Date</th>
                                <th>Check-Out Date</th>
                                <th>Address</th>
                                <th>ID Proof</th>
                                
                            </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th></th>
                            <th>Phone Number</th>
                            <th>Room Number</th>
                            <th>Check-In Date</th>
                            <th>Check-Out Date</th>
                            <th>Address</th>
                            <th>ID Proof</th>
                            
                        </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="row in viewData">
                                
                                <td><img  ui-sref="restricted.recenthotels" class="md-user-image" ng-src="{{row.Photo}}" alt=""/></td>
                                <td>{{row.Name}}</td>
                                
                                <td>{{row.Signature}}</td>
                                <td>{{row.PhoneNumber}}</td>
                                <td>{{row.RoomNumber}}</td>
                                <td>{{row.CheckInDate}}</td>
                                <td>{{row.CheckOutDate}}</td>
                                <td>{{row.Address}}</td>
                                <td><img class="md-user-image" ng-src="{{row.IDProof}}" alt=""/></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>