<div id="page_content" ng-controller="recenthotelsCtrl as showCase">
  <div id="page_content_inner">
    
    <div class="md-card">
      <div class="md-card-content large-padding topborder">
        <div class="heading_bg toptext">
          <div class="heading_bg_text">
            Hotel Report
          </div>
          <div class="parallelogram"></div>
        </div>
        <div class="uk-grid" data-uk-grid-margin>
          <div class="uk-width-medium-2-3">
            <div class="uk-width-large-1-1 uk-width-medium-1-1 uk-align-center">
              <div class="user_heading_avatar">
                
                <img src="assets/img/avatar.jpg">
                
                
              </div>
            </div>
            <div ng-repeat="user in Master">
              <div class="uk-width-large-1-1 uk-width-medium-1-1 uk-align-center">
                <span class="md-list-heading">Name : </span>
                <span class="uk-text-medium uk-text-muted">{{user.Name}}</span>
              </div>
              
              <div class="uk-width-large-1-1 uk-width-medium-1-1 uk-align-center">
                <span class="md-list-heading">Aadhar No : </span>
                <span class="uk-text-medium uk-text-muted">{{user.AadharNo}}</span>
              </div>
              <div class="uk-width-large-1-1 uk-width-medium-1-1 uk-align-center">
                <span class="md-list-heading">Mobile No : </span>
                <span class="uk-text-medium uk-text-muted">{{user.MobileNo}}</span>
              </div>
              <div class="uk-width-large-1-1 uk-width-medium-1-1 uk-align-center">
                <span class="md-list-heading">Address : </span>
                <span class="uk-text-medium uk-text-muted">{{user.Address}}</span>
              </div>
            </div>
            
            
          </div>
          
        </div>
      </div>
    </div>
    <div class="md-card uk-margin-medium-bottom">
      <div class="md-card-content large-padding topborder">
        <div class="heading_bg toptext">
          <div class="heading_bg_text">
            Recent Hotels
          </div>
          <div class="parallelogram"></div>
        </div>
        <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table"
          cellspacing="0" width="100%">
          
          
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
              <th>Place</th>
              <th>Check-In Date</th>
              <th>Check-Out Date</th>
              
            </tr>
          </thead>
          
          <tbody>
            <tr ng-repeat="row in viewData">
              
              <td><img class="md-user-image-daily-img" ng-src="{{row.Image}}" alt="" /></td>
              <td>{{row.Name}}</td>
              <td>{{row.Place}}</td>
              <td>{{row.CheckInDate}}</td>
              <td>{{row.CheckOutDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>