<!-- main header -->

<header id="header_main" ng-controller="main_headerCtrl">
<div class="header_main_content">
<nav class="uk-navbar">
<div class="main_logo_top" ng-if="topMenuActive || fullHeaderActive">
<a ui-sref="restricted.dashboard"><img ng-src="assets/img/logo_main_white.png" alt=""
add-image-prop /></a>
</div>
<!-- main sidebar switch -->
<sidebar-primary-toggle></sidebar-primary-toggle>
<!-- secondary sidebar switch -->
<sidebar-secondary-toggle ng-class="{ 'uk-hidden-large': secondarySidebarHiddenLarge }">
</sidebar-secondary-toggle>
<!-- <div id="menu_top_dropdown" class="uk-float-left uk-hidden-small" ng-hide="topMenuActive">
<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
<a href="#" class="top_menu_toggle"><i class="material-icons md-24">&#xE8F0;</i></a>
<div class="uk-dropdown uk-dropdown-width-3">
<div class="uk-grid uk-dropdown-grid" data-uk-grid-margin>
<div class="uk-width-2-3">
<div class="uk-grid uk-grid-width-medium-1-3 uk-margin-bottom uk-text-center">
<a ui-sref="restricted.pages.mailbox" class="uk-margin-top">
<i class="material-icons md-36">&#xE158;</i>
<span class="uk-text-muted uk-display-block">Mailbox</span>
</a>
<a ui-sref="restricted.pages.invoices" class="uk-margin-top">
<i class="material-icons md-36">&#xE53E;</i>
<span class="uk-text-muted uk-display-block">Invoices</span>
</a>
<a ui-sref="restricted.pages.chat" class="uk-margin-top">
<i class="material-icons md-36 md-color-red-600">&#xE0B9;</i>
<span class="uk-text-muted uk-display-block">Chat</span>
</a>
<a ui-sref="restricted.pages.scrum_board" class="uk-margin-top">
<i class="material-icons md-36">&#xE85C;</i>
<span class="uk-text-muted uk-display-block">Scrum Board</span>
</a>
<a ui-sref="restricted.pages.snippets" class="uk-margin-top">
<i class="material-icons md-36">&#xE86F;</i>
<span class="uk-text-muted uk-display-block">Snippets</span>
</a>
<a ui-sref="restricted.pages.user_profile" class="uk-margin-top">
<i class="material-icons md-36">&#xE87C;</i>
<span class="uk-text-muted uk-display-block">User profile</span>
</a>
</div>
</div>
<div class="uk-width-1-3">
<ul class="uk-nav uk-nav-dropdown uk-panel">
<li class="uk-nav-header">Components</li>
<li><a ui-sref="restricted.components.accordion">Accordions</a></li>
<li><a ui-sref="restricted.components.buttons">Buttons</a></li>
<li><a ui-sref="restricted.components.notifications">Notifications</a></li>
<li><a ui-sref="restricted.components.sortable">Sortable</a></li>
<li><a ui-sref="restricted.components.tabs">Tabs</a></li>
</ul>
</div>
</div>
</div>
</div>
</div> -->
<div class="uk-navbar-flip">
<ul class="uk-navbar-nav user_actions">


<li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
<a href="#" class="user_action_image"><img class="md-user-image"
ng-src="assets/img/avatars/user.png" alt="" add-image-prop /></a>
<div class=" heading_bg_text uk-dropdown uk-dropdown-small">
<ul class="uk-nav js-uk-prevent">

<li><a ui-sref="login1" style="color: white;">Logout</a></li>

</ul>
</div>
</li>
</ul>
</div>
</nav>
</div>
<div class="header_main_search_form">
<main-search-hide ng-if="!mainSearchPersistent"></main-search-hide>
<form class="uk-form uk-autocomplete" data-uk-autocomplete="{source:'data/search_data.json'}">
<input type="text" class="header_main_search_input" />
<button class="header_main_search_btn uk-button-link"><i
class="md-icon material-icons">&#xE8B6;</i></button>
<script type="text/autocomplete">
<ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results" id="autocomplete_results">
{{~items}}
<li data-value="{{ $item.value }}">
<a href="{{ $item.url }}" class="item needsclick">
{{ $item.value }}<br>
<span class="uk-text-muted uk-text-small">{{{ $item.text }}}</span>
</a>
</li>
{{/items}}
</ul>
</script>
</form>
</div>
</header><!-- main header end -->