<div id="page_content" ng-controller="MapCtrl as showCase">
    <div id="page_content_inner">
                 <div class="md-card">
                        <div class="md-card-content large-padding topborder">
                            <div class="heading_bg toptext">
                                <div class="heading_bg_text">
                                    Hotel Report
                                </div>
                                <div class="parallelogram"></div>
                            </div>
                            <div class="uk-width-1-1 uk-text-left uk-margin-medium-bottom">
                                <div class="uk-width-medium-2-3">
                                    <div class="uk-width-large-1-1 uk-width-medium-1-1 uk-align-center">
                                          <img src="assets/img/maps.png">
                                          <a target="_blank" class="type-color-white" title="View it on Google Maps" href="https://www.google.co.in/maps/place/CloudLogic+Technologies+-+Microsoft+Azure+and+AWS+Cloud,+Apps+and+Software+Company+in+Pondicherry./@11.9329432,79.8002369,16z/data=!4m5!3m4!1s0x3a53610ae6cec7df:0x990e815db6a56a46!8m2!3d11.934241!4d79.8056125">	
                                          </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>                    
                   
                </div>
            </div>
        </div>