<style>
.wizard > .steps{
background: #770B19 !important;
}
.wizard > .steps > ul > li.current a, .wizard > .steps > ul > li.current a:hover, .wizard > .steps > ul > li.current a:active{        background: #E2B456 !important;
}

.wizard > .steps > ul > li.done a, .wizard > .steps > ul > li.done a:hover, .wizard > .steps > ul > li.done a:active{
background: none !important;
}
.wizard > .steps > ul > li{
float: left;
width: 33%;
}
.bordercolor{
background: #770b19;
padding: 8px;
color: white;
}

</style>
<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content demo">
                <form id="wizard_advanced_form" class="uk-form-stacked">
                    <wizard on-finish="finishedWizard()" template="app/templates/wizard.tpl.html">
                    <wz-step wz-title="Visit Details " template="app/templates/wizard.step.tpl.html">
                    <div class="md-card uk-container-center uk-margin-large-bottom uk-width-medium-1-2">
                        <div class="md-card-content "  >
                            <h4  class="heading_c">VISIT ID : {{visitid}}    </h4>
                            <hr />
                            <div class="uk-grid uk-margin-large-bottom">
                                
                                <div class="uk-input-group uk-margin-medium-top">
                                    <span class="uk-input-group-addon">
                                        <i class="md-list-addon-icon material-icons ico">person</i>
                                    </span>
                                    <label class="selectizeLable">Representative Name</label>
                                    <input class="md-input demo"   type="text" id="repname"  name="repname"  ng-model="repname" md-input/>
                                    
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-large-bottom">
                                <div class="uk-input-group ">
                                    <span class="uk-input-group-addon">
                                        <i class="md-list-addon-icon material-icons ico">meeting_room</i>
                                    </span>
                                    <label class="selectizeLable">Total Rooms</label>
                                    <input class="md-input"ng-change="addevent(rooms)"  type="number"   min="1" id="room" name="room"  ng-model="rooms" md-input/>
                                    
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-large-bottom">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon">
                                        <i class="md-list-addon-icon material-icons ico">supervisor_account</i>
                                    </span>
                                    <label class="selectizeLable">Total Guests</label>
                                    <input class="md-input" type="number" id="totalguest"  min="1" name="totalguest"  ng-model="totalguest" md-input/>
                                    
                                    
                                </div>
                            </div>
                            <div class="uk-grid uk-margin-large-bottom">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon">
                                        <i class="md-list-addon-icon material-icons ico">date_range</i>
                                    </span>
                                    <form class="uk-form-stacked">
                                        <label for="kUI_datetimepicker_basic1" class="uk-form-label">Check In</label>
                                        <input kendo-date-time-picker
                                        ng-model="checkin"
                                        k-ng-model="checkin"
                                        style="width: 100%;"
                                        id="kUI_datetimepicker_basic1"
                                        />
                                    </form>
                                </div>
                                
                            </div>
                            <div class="uk-grid uk-margin-large-bottom">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon">
                                        <i class="md-list-addon-icon material-icons ico">date_range</i>
                                    </span>
                                    <form class="uk-form-stacked">
                                        <label for="kUI_datetimepicker_basic" class="uk-form-label">Check Out</label>
                                        <input kendo-date-time-picker
                                        ng-model="checkout"
                                        k-ng-model="checkout"
                                        style="width: 100%;"
                                        id="kUI_datetimepicker_basic"
                                        />
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="uk-clearfix uk-margin-large-top">
                        <button type="submit" class="md-btn buttonbg uk-float-right "   wz-next>Continue</button> <!-- ng-click="gen($event)" -->
                    </div>
                    </wz-step>
                    <wz-step wz-title="Guest Details" template="app/templates/wizard.step.tpl.html">
                    <div class="uk-grid" data-uk-grid-margin >
                        <div class="uk-width-large-1-2 uk-width-medium-1-1"  ng-repeat="user in room">
                            
                            <div class="md-card uk-margin-large-bottom" >
                                <div class="md-card-content">
                                    <h4  class="heading_c">VISIT ID : {{visitid}}    </h4>
                                    <hr />
                                    <div class="uk-form-row uk-margin-large-bottom">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="md-list-addon-icon material-icons ico">meeting_room</i>
                                            </span>
                                            <label for="name">Room No </label>
                                            <input class="md-input" type="text" id="roomno3" name="roomno3"  ng-model="roomno3" md-input/>
                                        </div>
                                    </div>
                                    <div class="uk-grid uk-margin-large-bottom">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="md-list-addon-icon material-icons ico">date_range</i>
                                            </span>
                                            <form class="uk-form-stacked">
                                                <label for="kUI_datetimepicker_basic4" class="uk-form-label">Check In</label>
                                                <input kendo-date-time-picker
                                                ng-model="checkin4"
                                                k-ng-model="checkin4"
                                                style="width: 100%;"
                                                id="kUI_datetimepicker_basic4"
                                                />
                                            </form>
                                        </div>
                                        
                                    </div>
                                    <div class="uk-grid uk-margin-medium-bottom">
                                        <div class="uk-input-group">
                                            <span class="uk-input-group-addon">
                                                <i class="md-list-addon-icon material-icons ico">date_range</i>
                                            </span>
                                            <form class="uk-form-stacked">
                                                <label for="kUI_datetimepicker_basic" class="uk-form-label">Check Out</label>
                                                <input kendo-date-time-picker
                                                ng-model="checkout5"
                                                k-ng-model="checkout5"
                                                style="width: 100%;"
                                                id="kUI_datetimepicker_basic5"
                                                />
                                            </form>
                                        </div>
                                    </div>
                                  
<!--                                       <div  ng-repeat="guestinfo in guestinfos ">
 -->                                          <div class="uk-form-row bordercolor">
                                        <div  class="heading_a">Guest KYC for Person {{$index+1}}</div>
                                    </div>
<!--                                     <div  ng-repeat="kyc in user.kycdetails ">
 -->                                       <!--  <div class="parsley-row"><br>
                                            <div class="heading_c" style="color: #770B19"><b> PERSON {{$index+1}} </b></div>
                                        </div>
 -->                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">chrome_reader_mode</i>
                                                </span>
                                                <label for="address1">Adhar or Linense Number.</label>
                                                <input class="md-input" type="text" id="address1" name="address1"
                                                ng-model="guestinfo.adhar"  md-input/>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">closed_caption</i>
                                                </span>
                                                <label for="address1">Code</label>
                                                <input class="md-input" type="text" id="address1" name="address1"
                                                ng-model="guestinfo.code"  md-input/>
                                            </div>
                                        </div>
                                          <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                 <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">attach_file</i>
                                                </span>
                                            <p>Upload your Id Proof</p>
                                           <input type="file" ng-model="guestinfo.attachfile" />

                                            </div>
                                        </div>
                                        
<!--                                     </div>
 -->                                  <!--   <div class="uk-form-row uk-margin-medium-top uk-text-center">
                                        <button class="md-btn buttonbg md-btn-primary md-btn-small" ng-click="addkyc()"><i class="uk-icon-plus"></i> Add KYC Details</button>
                                    </div> -->
                                    
                                    <div class="uk-form-row bordercolor">
                                        <div  class="heading_a">Guest Info for Person {{$index+1}}</div>
                                    </div>
<!--                                     <div  ng-repeat="guestinfo in user.guestinfos ">
 -->                                       <!--  <div class="parsley-row"><br>
                                            <div class="heading_c" style="color: #770B19"><b> PERSON {{$index+1}} </b></div>
                                        </div> -->
                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">person</i>
                                                </span>
                                                <label for="name">Guest Name </label>
                                                <input class="md-input" type="text" id="guestname" name="guestname"  ng-model="guestinfo.guestname" md-input/>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">text_rotation_none</i>
                                                </span>
                                                <label for="name">Age </label>
                                                <input class="md-input" type="number" id="age" name="age" min="1" ng-model="guestinfo.age" md-input/>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">date_range</i>
                                                </span>
                                                <label for="val_birth">Date of Birth</label>
                                                <input type="text" name="val_birth" id="val_birth"  class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (DD-MM-YYYY)" ng-model="guestinfo.dateofbirth" data-uk-datepicker="{format:'DD-MM-YYYY'}" md-input />
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">wc</i>
                                                </span>
                                                <label for="Gender">Gender </label> </div>
                                                <div class="uk-input-group"> <span class="uk-input-group-addon">
                                                    <i class="material-icons"></i>
                                                </span><br>
                                                <span class="icheck-inline">
                                                    <input type="radio" name="Male" id="Male" icheck ng-model="guestinfo.gender" value="Male" />
                                                    <label for="Male" class="inline-label"> Male</label>
                                                </span>
                                                <span class="icheck-inline">
                                                    <input type="radio" name="Female" id="Female" icheck ng-model="guestinfo.gender" value="Female" />
                                                    <label for="Female" class="inline-label"> Female</label>
                                                </span>
                                                <span class="icheck-inline">
                                                    <input type="radio" name="Either" id="Either" icheck ng-model="guestinfo.gender" value="Either" />
                                                    <label for="Either" class="inline-label"> Either</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">home</i>
                                                </span>
                                                <label for="address1">Address 1</label>
                                                <input class="md-input" type="text" id="address1" name="address1"  ng-model="guestinfo.address1" md-input/>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">home</i>
                                                </span>
                                                <label for="address1">Address 2</label>
                                                <input class="md-input" type="text" id="address2" name="address2"  ng-model="guestinfo.address2" md-input/>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">home</i>
                                                </span>
                                                <label for="address3">Address 3</label>
                                                <input class="md-input" type="text" id="address3" name="address3"  ng-model="guestinfo.address3" md-input/>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">domain</i>
                                                </span>
                                                <label for="area">Area</label>
                                                <input class="md-input" type="text" id="area" name="area"  ng-model="guestinfo.area" md-input/>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">location_city</i>
                                                </span>
                                                <label for="city">City</label>
                                                <input class="md-input" type="text" id="city" name="city"  ng-model="guestinfo.city" md-input/>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-input-group">
                                                 <span class="uk-input-group-addon">
                                                    <i class="md-list-addon-icon material-icons ico">camera_enhance</i>
                                                </span>
                                            <p>Upload your Photo</p>
                                           <input type="file" ng-model="guestinfo.uploadphoto" />

                                            </div>
                                        </div>
                                 
<!--                                     </div>
 -->                                    <div class="uk-form-row uk-margin-medium-top uk-text-center">
                                        <button class="md-btn buttonbg md-btn-primary md-btn-small" ng-click="addguest($index)"><i class="uk-icon-plus"></i> Additional Person Details</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-clearfix uk-margin-large-top">
                        <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous style="background: #e2b45633;color: #770b19  ">Back</button>
                        <button class="md-btn buttonbg uk-float-right "  type="submit" wz-next>Continue</button>
                    </div>
                    </wz-step>
                    <wz-step wz-title="Summary" template="app/templates/wizard.step.tpl.html">
                    <div class="md-card">
                        <div class="uk-grid ">
                            <div class="uk-width-medium-1-2">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon">
                                        <i class="md-list-addon-icon material-icons ico">arrow_back</i>
                                    </span>
                                    <p>Wed 16 May 2019</p>
                                </div>
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon">
                                        <i class="md-list-addon-icon material-icons ico">arrow_forward</i>
                                    </span>
                                    <p>Thu 16 May 2019</p>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon">
                                        <i class="md-list-addon-icon material-icons ico"></i>
                                    </span>
                                    <p>Check-in Time : 11:50 PM </p>
                                </div>
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon">
                                        <i class="md-list-addon-icon material-icons ico"></i>
                                    </span>
                                    <p>Check-Out Time : 11:50 PM </p>
                                </div>
                            </div>
                        </div>
                        <hr class="md-hr"/>
                        <div class="uk-grid ">
                            <div class="uk-width-medium-1-2">
                                <div class="uk-input-group">
                                    <span class="uk-input-group-addon">
                                        <i class="md-list-addon-icon material-icons ico">airport_shuttle</i>
                                    </span>
                                    <p>02 Rooms , 04 Guests ,01 Night</p>
                                </div>
                            </div>
                        </div>
                    </div>
                              <!-- <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next>Submit</button>
                            </div> -->
                    <div class="uk-clearfix uk-margin-large-top">
                        <button class="md-btn md-btn-flat  md-btn-flat-primary uk-float-left" type="submit" wz-previous style="background: #e2b45633;color: #770b19 ">Back</button>
                      <button type="submit" class="md-btn buttonbg uk-float-right "   wz-next>Submit</button> 
                    </div>
                    </wz-step>
                    </wizard>
                </form>
            </div>
        </div>
    </div>